<template>
  <div id="img-set-item">
    <p class="item-title">{{title}}</p>
    <el-upload
      class="avatar-uploader"
      action="https://www.mdollar.cn/hbfund-alipay/gameBack/v1/uploadImg"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload">
      <img v-if="imageUrl" :src="imageUrl" class="avatar">
      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
  </div>
</template>

<script>
export default {
  name: 'ImgSetItem',
  props: {
    title: {
      type: String,
      required: true
    },
    imgKey: {
      type: String,
      required: true
    },
    imgUrl: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      imageUrl: ''
    }
  },
  created () {
    this.imageUrl = this.imgUrl
  },
  methods: {
    handleAvatarSuccess(res, file) {
      this.imageUrl = res.imgUrl;
      this.$emit('done', this.imgKey, this.imageUrl)
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      const isLt2M = file.size / 1024 < 500;

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式或 PNG 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 500KB!');
      }
      return isJPG && isLt2M;
    }
  }
}
</script>

<style lang="less">
#img-set-item{
  .item-title{
    margin-bottom: 10px;
    width: 178px;
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}


</style>
