<template>
  <div id="award-set-draw">
    <head-top/>
    <div class="table_container">
      <el-table
        :data="tableData"
        :row-key="row => row.index"
        style="width: 100%">
        <el-table-column
          label="排名段"
          prop="rank"
          width="150"
          align="center">
        </el-table-column>
        <el-table-column
          label="奖品名称"
          prop="name"
          align="center">
          <template slot-scope="scope">
            <el-select v-model="scope.row.prizeName" placeholder="请选择" @change="handleSelectChangeFund">
              <el-option
                v-for="item in prizeOptions"
                :key="item.prizeName"
                :label="item.prizeName"
                :value="item.prizeName">
              </el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column
          label="奖品图片"
          align="center">
          <template slot-scope="scope">
            <img class="prize-image" :src="scope.row.prizeImgUrl" alt="此处应有奖品图片">
          </template> 
        </el-table-column>
      </el-table>
      <el-button type="success" class="add-btn" @click="handleSave">保存修改</el-button>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'AwardSetDraw',
  data () {
    return {
      tableData: [
        {
          rank: '1',
          id: 1,
          prizeName: 'kindle',
          prizeImgUrl: 'https://gw.alipayobjects.com/os/q/cms/images/jl4jc3eq/32edf4f6-0833-42b4-a7a1-d1531c9a85bd_w281_h156.png'
        },
        {
          rank: '2-5000',
          id: 2,
          prizeName: '星巴克',
          prizeImgUrl: 'https://gw.alipayobjects.com/os/q/cms/images/jl7drqsv/3774fd3a-055d-4b51-bbb0-b4e21b698406_w281_h170.png'
        }
      ],
      prizeOptions: []
    }
  },
  created () {
    this.getPrizeList()
    this.getDrawPrizeConfig()
  },
  methods: {
    async getPrizeList () {
      try {
        const prizeList = await this.$_api.getPrizeList()
        this.prizeOptions = prizeList
      } catch (err) {
        console.log(err)
        this.$message.error('获取奖品列表失败！')
      }
    },
    async getDrawPrizeConfig () {
      try {
        const drawPrizeConfig = await this.$_api.getDrawPrizeConfig()
        this.tableData[0].id = drawPrizeConfig.firstPrize.id
        this.tableData[0].prizeName = drawPrizeConfig.firstPrize.prizeName
        this.tableData[0].prizeImgUrl = drawPrizeConfig.firstPrize.prizeImgUrl
        this.tableData[1].id = drawPrizeConfig.otherPrize.id
        this.tableData[1].prizeName = drawPrizeConfig.otherPrize.prizeName
        this.tableData[1].prizeImgUrl = drawPrizeConfig.otherPrize.prizeImgUrl
      } catch (err) {
        console.log(err)
        this.$message.error('获取奖品配置失败！')
      }
    },
    async confLuckyDraw () {
      try {
        var data = {
          firstPrize: this.tableData[0],
          otherPrize: this.tableData[1],
          packetNum: 5000
        }
        if (await this.$_api.confLuckyDraw(data) === 1) {
          this.$message.success('保存修改成功！')
          this.getDrawPrizeConfig()
        } else {
          throw new Error('保存修改失败！')
        }
      } catch (err) {
        console.log(err)
        this.$message.error('保存修改失败！')
      }
    },
    handleSelectChangeFund (value) {
      this.tableData.forEach((item, index, array) => {
        array[index].prizeImgUrl = this.prizeOptions[this.findIndexByFundNameInArray(item.prizeName, this.prizeOptions)].prizeImgUrl
      })
    },
    findIndexByFundNameInArray (prizeName, array) {
      for (let i=0; i<array.length; i++) {
        if (array[i].prizeName === prizeName) {
          return i
        }
      }
      return -1
    },
    handleSave () {
      this.confLuckyDraw()
    }
  }
}
</script>

<style lang="less" scoped>
@import '../style/mixin';

#award-set-draw{

  .table_container{
    padding: 20px;

    .prize-image{
      vertical-align: top;
      width: 140px;
      height: 74px;
      margin: 20px;
    }

    .add-btn{
      margin-top: 20px;
    }
  }
}
</style>
