<template>
  <div id="award-set-list">
    <head-top/>
    <div class="table_container">
      <el-table
        :data="tableData"
        :row-key="row => row.index"
        style="width: 100%">
        <el-table-column
          type="index"
          width="70"
          align="center">
        </el-table-column>
        <el-table-column
          label="奖品图片"
          align="center">
          <template slot-scope="scope">
            <img class="prize-image" :src="scope.row.imageUrl" alt="此处应有奖品图片">
          </template> 
        </el-table-column>
        <el-table-column
          label="奖品名称"
          prop="name"
          align="center">
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              size="small"
              @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
              size="small"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button type="primary" class="add-btn" @click="handleAdd">添加奖品</el-button>

      <el-dialog :title="dialogTitle" v-model="dialogFormVisible">
        <el-form :model="dialogFormData">
          <el-form-item label="奖品名称" label-width="100px">
              <el-input v-model="dialogFormData.name" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="奖品图片" label-width="100px">
            <el-upload
              class="avatar-uploader"
              action="https://www.mdollar.cn/hbfund-alipay/gameBack/v1/uploadImg"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload">
              <img v-if="dialogFormData.imageUrl" :src="dialogFormData.imageUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'AwardSetList',
  data () {
    return {
      tableData: [],
      dialogFormVisible: false,
      dialogTitle: null,
      dialogFormData: {}
    }
  },
  created () {
    this.getPrizeList()
  },
  methods: {
    async getPrizeList () {
      try {
        const prizeList = await this.$_api.getPrizeList()
        this.tableData = []
        prizeList.forEach(item => {
          const tableData = {}
          tableData.id = item.id
          tableData.name = item.prizeName
          tableData.imageUrl = item.prizeImgUrl
          this.tableData.push(tableData)
        });
      } catch (err) {
        console.log(err)
        this.$message.error('获取奖品列表失败！')
      }
    },
    async updatePrize (id, prizeName, prizeImgUrl) {
      try {
        if (await this.$_api.updatePrize(id, prizeName, prizeImgUrl) === 1) {
          this.getPrizeList()
          this.$message.success('修改奖品成功！')
        } else {
          throw new Error('修改奖品失败！')
        }
      } catch (err) {
        console.log(err)
        this.$message.error('修改奖品失败！')
      }
    },
    async addPrize (prizeName, prizeImgUrl) {
      try {
        if (await this.$_api.addPrize(prizeName, prizeImgUrl) === 1) {
          this.getPrizeList()
          this.$message.success('添加奖品成功！')
        } else {
          throw new Error('添加奖品失败！')
        }
      } catch (err) {
        console.log(err)
        this.$message.error('添加奖品失败！')
      }
    },
    async deletePrize (id) {
      try {
        if (await this.$_api.deletePrize(id) === 1) {
          this.getPrizeList()
          this.$message.success('删除奖品成功！')
        } else {
          throw new Error('删除奖品失败！')
        }       
      } catch (err) {
        console.log(err)
        this.$message.error('删除奖品失败！')
      }
    },
    confirm () {
      if (this.dialogTitle === '添加奖品信息') {
        this.dialogFormVisible = false
        this.addPrize(this.dialogFormData.name, this.dialogFormData.imageUrl)
      } else {
        this.dialogFormVisible = false
        this.updatePrize(this.dialogFormData.id, this.dialogFormData.name, this.dialogFormData.imageUrl)
      }
    },
    handleAdd () {
      this.dialogTitle = '添加奖品信息'
      this.dialogFormData = {
        id: null,
        name: null,
        imageUrl: null
      }
      this.dialogFormVisible = true
    },
    handleEdit (index, row) {
      this.dialogTitle = '修改奖品信息'
      this.dialogFormData = {
        id: this.tableData[index].id,
        name: row.name,
        imageUrl: row.imageUrl
      }
      this.dialogFormVisible = true
    },
    handleDelete (index, row) {
      this.deletePrize(this.tableData[index].id)
    },
    handleAvatarSuccess(res, file) {
      this.dialogFormData.imageUrl = res.imgUrl
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      const isLt2M = file.size / 1024 < 500;

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式或 PNG 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 500KB!');
      }
      return isJPG && isLt2M;
    }
  }
}
</script>

<style lang="less">
@import '../style/mixin';

#award-set-list{

  .table_container{
    padding: 20px;

    .prize-image{
      vertical-align: top;
      width: 140px;
      height: 74px;
      margin: 20px;
    }

    .add-btn{
      margin-top: 20px;
    }
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 280px;
    height: 148px;
    display: block;
  }
}
</style>
