<template>
  <div id="banner-config">
    <head-top/>
    <section class="container">
      <el-form>
        <el-form-item label="banner链接" label-width="100px">
          <el-input 
            class="input"
            v-model="checkMoreUrl" 
            auto-complete="off">
            </el-input>
        </el-form-item>
      </el-form>
      <section class="container2">
        <imgSetItem 
          class="container2-item"
          v-for="item in imgArr"
          :key="item.key"
          :title="item.title"
          :imgKey="item.key"
          :imgUrl="item.imgUrl"
          @done="uploadDone"
        />
      </section>
      <el-button type="success" class="add-btn" @click="handleSave">保存修改</el-button>
    </section>
  </div>
</template>

<script>
export default {
  name: 'BannerConfig',
  data () {
    return {
      checkMoreUrl: null,
      imgArr: [],
      tempArr: [
        {
          title: 'banner图片(750*230)',
          key: 'bannerImg'
        },
        {
          title: 'copyright图片(750*152)',
          key: 'copyrightImg'
        }
      ]
    }
  },
  created () {
    this.$_api.getCommonConfig()
    .then(data => {
      this.checkMoreUrl = data.commonImg.bannerUrl
      this.tempArr.forEach(item => {
        this.imgArr.push(Object.assign({imgUrl: data.commonImg[item.key]}, item))
      })
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    handleSave () {
      this.uploadDone('bannerUrl', this.checkMoreUrl)
    },
    uploadDone (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('链接更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('链接更换失败！')
      })
    }
  }
}
</script>

<style lang="less" scoped>
#banner-config{

  .container{
    margin: 20px;

    .input{
      width: 500px;
    }

    .container2{
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      &-item{
        margin: 20px;
      }
    }
  }
}
</style>

