<template>
  <div id="check-more">
    <head-top/>
    <section class="container">
      <el-form>
        <el-form-item label="查看更多链接" label-width="100px">
            <el-input 
              class="input"
              v-model="checkMoreUrl" 
              auto-complete="off">
              </el-input>
        </el-form-item>
      </el-form>
      <el-button type="success" class="add-btn" @click="handleSave">保存修改</el-button>
    </section>
  </div>
</template>

<script>
export default {
  name: 'CheckMore',
  data () {
    return {
      checkMoreUrl: null
    }
  },
  created () {
    this.$_api.getCommonConfig()
    .then(data => {
      this.checkMoreUrl = data.commonImg.urlHome2More
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    handleSave () {
      this.uploadUrl('urlHome2More', this.checkMoreUrl)
    },
    uploadUrl (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('链接更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('链接更换失败！')
      })
    }
  }
}
</script>

<style lang="less" scoped>
#check-more{

  .container{
    margin: 20px;

    .input{
      width: 500px;
    }
  }
}
</style>

