<template>
  <div id="game-set-fund-list">
    <head-top/>
    <imgSetItem 
      v-if="cardBack.imgUrl"
      class="img-set-item"
      :title="cardBack.title"
      :imgKey="cardBack.key"
      :imgUrl="cardBack.imgUrl"
      @done="uploadDone"
    />
    <div class="table_container">
      <el-table
        :data="tableData"
        :row-key="row => row.index"
        style="width: 100%">
        <el-table-column
          type="index"
          width="70"
          align="center">
        </el-table-column>
        <el-table-column
          label="成分股图片"
          align="center">
          <template slot-scope="scope">
            <img class="fund-image" :src="scope.row.imageUrl" alt="此处应有成分股图片">
          </template> 
        </el-table-column>
        <el-table-column
          label="成分股名称"
          prop="name"
          align="center">
        </el-table-column>
        <el-table-column
          label="成分股介绍"
          width="400"
          prop="intro"
          align="center">
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              size="small"
              @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
              size="small"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button type="primary" class="add-btn" @click="handleAdd">添加成分股</el-button>

      <el-dialog :title="dialogTitle" v-model="dialogFormVisible">
        <el-form :model="dialogFormData">
          <el-form-item label="成分股名称" label-width="100px">
              <el-input v-model="dialogFormData.name" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="成分股介绍" label-width="100px">
              <el-input 
                type="textarea" 
                autosize
                v-model="dialogFormData.intro" 
                auto-complete="off">
                </el-input>
          </el-form-item>
          <el-form-item label="成分股图片" label-width="100px">
            <el-upload
              class="avatar-uploader"
              action="https://www.mdollar.cn/hbfund-alipay/gameBack/v1/uploadImg"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload">
              <img v-if="dialogFormData.imageUrl" :src="dialogFormData.imageUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'GameSetFundList',
  data () {
    return {
      tableData: [],
      dialogFormVisible: false,
      dialogTitle: null,
      dialogFormData: {},
      temp: {
        title: '牌背图片(176*176)',
        key: 'gameImgCardBack'
      },
      cardBack: {
        title: '牌背图片(176*176)',
        key: 'gameImgCardBack',
        imgUrl: null
      }
    }
  },
  created () {
    this.getFundList()
    this.$_api.getCommonConfig()
    .then(data => {
      this.cardBack.imgUrl = data.commonImg[this.cardBack.key]
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    async getFundList () {
      try {
        const fundList = await this.$_api.getFundList()
        this.tableData = []
        fundList.forEach(item => {
          const tableData = {}
          tableData.id = item.id
          tableData.name = item.fundName
          tableData.imageUrl = item.fundImgUrl
          tableData.intro = item.fundIntroduce
          this.tableData.push(tableData)
        });
      } catch (err) {
        console.log(err)
        this.$message.error('获取成分股列表失败！')
      }
    },
    async updateFund (id, fundName, fundImgUrl, fundIntroduce) {
      try {
        if (await this.$_api.updateFund(id, fundName, fundImgUrl, fundIntroduce) === 1) {
          this.getFundList()
          this.$message.success('修改成分股成功！')
        } else {
          throw new Error('修改成分股失败！')
        }
      } catch (err) {
        console.log(err)
        this.$message.error('修改成分股失败！')
      }
    },
    async addFund (fundName, fundImgUrl, fundIntroduce) {
      try {
        if (await this.$_api.addFund(fundName, fundImgUrl, fundIntroduce) === 1) {
          this.getFundList()
          this.$message.success('添加成分股成功！')
        } else {
          throw new Error('添加成分股失败！')
        }
      } catch (err) {
        console.log(err)
        this.$message.error('添加成分股失败！')
      }
    },
    async deleteFund (id) {
      try {
        if (await this.$_api.deleteFund(id) === 1) {
          this.getFundList()
          this.$message.success('删除成分股成功！')
        } else {
          throw new Error('删除成分股失败！')
        }       
      } catch (err) {
        console.log(err)
        this.$message.error('删除成分股失败！')
      }
    },
    confirm () {
      if (this.dialogTitle === '添加成分股信息') {
        this.dialogFormVisible = false
        this.addFund(this.dialogFormData.name, this.dialogFormData.imageUrl, this.dialogFormData.intro)
      } else {
        this.dialogFormVisible = false
        this.updateFund(this.dialogFormData.id, this.dialogFormData.name, this.dialogFormData.imageUrl, this.dialogFormData.intro)
      }
    },
    handleAdd () {
      this.dialogTitle = '添加成分股信息'
      this.dialogFormData = {
        id: null,
        name: null,
        imageUrl: null,
        intro: null
      }
      this.dialogFormVisible = true
    },
    handleEdit (index, row) {
      this.dialogTitle = '修改成分股信息'
      this.dialogFormData = {
        id: this.tableData[index].id,
        name: row.name,
        imageUrl: row.imageUrl,
        intro: row.intro
      }
      this.dialogFormVisible = true
    },
    handleDelete (index, row) {
      this.deleteFund(this.tableData[index].id)
    },
    handleAvatarSuccess(res, file) {
      this.dialogFormData.imageUrl = res.imgUrl
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      const isLt2M = file.size / 1024 < 500;

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式或 PNG 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 500KB!');
      }
      return isJPG && isLt2M;
    },
    uploadDone (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('图片更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('图片更换失败！')
      })
    }
  }
}
</script>

<style lang="less">
@import '../style/mixin';

#game-set-fund-list{

  .img-set-item{
    margin: 20px 20px 0 20px;
  }

  .table_container{
    padding: 20px;

    .fund-image{
      vertical-align: top;
      width: 90px;
      height: 90px;
      margin: 20px;
    }

    .add-btn{
      margin-top: 20px;
    }
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
