<template>
  <div id="game-set-three">
    <head-top/>
    <section class="container">
      <el-form>
        <el-form-item label="游戏时间（s）">
          <el-input-number 
            v-model="gameTime" 
            @change="handleChange" 
            :min="1">
            </el-input-number>
        </el-form-item>
      </el-form>

      <div style="marginBottom: 20px;">本关共需要设置<span style="color: red;">{{totalTimes}}</span>张牌子，现已设置<span style="color: red;">{{curTimes}}</span>张</div>

      <el-table
        :data="tableData"
        :row-key="row => row.index"
        style="width: 100%">
        <el-table-column
          type="index"
          width="70"
          align="center">
        </el-table-column>
        <el-table-column
          label="成分股图片"
          align="center">
          <template slot-scope="scope">
            <img class="fund-image" :src="scope.row.fundImgUrl" alt="此处应有成分股图片">
          </template> 
        </el-table-column>
        <el-table-column
          label="成分股名称"
          prop="fundName"
          align="center">
        </el-table-column>
        <el-table-column
          label="成分股介绍"
          width="350"
          prop="fundIntroduce"
          align="center">
        </el-table-column>
        <el-table-column
          label="出现次数"
          prop="times"
          align="center">
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              size="small"
              @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
              size="small"
              type="danger"
              
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button type="primary" class="add-btn" @click="handleAdd">添加成分股</el-button>
      <el-button type="success" class="add-btn" @click="handleSave">保存修改</el-button>

      <el-dialog :title="dialogTitle" v-model="dialogFormVisible">
        <el-form :model="dialogFormData">
          <el-form-item label="成分股名称" label-width="100px">
            <el-select v-model="dialogFormData.fundName" placeholder="请选择" :disabled="isPreFund" @change="handleSelectChangeFund">
              <el-option
                v-for="item in fundOptions"
                :key="item.fundName"
                :label="item.fundName"
                :value="item.fundName">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="成分股介绍" label-width="100px">
              <el-input 
                type="textarea" 
                autosize
                disabled
                v-model="dialogFormData.fundIntroduce" 
                auto-complete="off">
                </el-input>
          </el-form-item>
          <el-form-item label="成分股图片" label-width="100px">
            <el-upload
              disabled
              class="avatar-uploader"
              action="https://www.mdollar.cn/hbfund-alipay/gameBack/v1/uploadImg"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload">
              <img v-if="dialogFormData.fundImgUrl" :src="dialogFormData.fundImgUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="出现次数" label-width="100px">
            <el-select v-model="dialogFormData.times" placeholder="请选择">
              <el-option
                v-for="item in timesOption"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="confirm">确 定</el-button>
        </div>
      </el-dialog>
    </section>
  </div>
</template>

<script>
export default {
  fundName: 'GameSetThree',
  data () {
    return {
      commonConfig: null,
      gameTime: null,
      tableData: [],
      fundList: [],
      timesOption: [],
      totalTimes: 24,
      dialogFormVisible: false,
      dialogTitle: null,
      dialogFormData: {},
      edittingIndex: null,
      preLevelTimes: null,
      isPreFund: false,
      fundOptions: []
    }
  },
  computed: {
    curTimes () {
      var times = 0
      this.tableData.forEach(item => {
        times += item.times
      })
      return times
    }
  },
  created () {
    this.getCommonConfig()
    this.getFundList()
  },
  methods: {
    async getCommonConfig () {
      try {
        this.commonConfig = await this.$_api.getCommonConfig()
        this.preLevelTimes = this.commonConfig.levelInfo[1].fund.length
        this.gameTime = this.commonConfig.levelInfo[2].time
        this.tableData = []
        this.commonConfig.levelInfo[2].fund.forEach(item => {
          const tableData = {}
          tableData.id = item.id
          tableData.fundName = item.fundName
          tableData.fundIntroduce = item.fundIntroduce
          tableData.times = item.times
          tableData.fundImgUrl = item.fundImgUrl
          this.tableData.push(tableData)
        })
      } catch (err) {
        console.log(err)
        this.$message.error('获取游戏配置失败！')
      }
    },
    async getFundList () {
      try {
        const fund = await this.$_api.getFundList()
        this.fundList = []
        fund.forEach(item => {
          const fundList = {}
          fundList.id = item.id
          fundList.fundName = item.fundName
          fundList.fundImgUrl = item.fundImg
          fundList.fundIntroduce = item.fundIntroduce
          this.fundList.push(fundList)
        });
      } catch (err) {
        console.log(err)
        this.$message.error('获取成分股列表失败！')
      }
    },
    async confGameInfo () {
      try {
        var configData = {
          level: 3,
          times: this.gameTime.toString(),
          fundInfo: this.tableData
        }
        if (await this.$_api.confGameInfo(configData) === 1) {
          this.getCommonConfig()
          this.$message.success('保存修改成功！')
        } else {
          throw new Error('保存修改失败！')
        }
      } catch (err) {
        console.log(err)
        this.$message.error('保存修改失败！')
      }
    },
    handleSelectChangeFund (value) {
      var fundInfo = this.fundOptions[this.findIndexByFundNameInArray(value, this.fundOptions)]
      this.dialogFormData.id = fundInfo.id
      this.dialogFormData.fundName = fundInfo.fundName
      this.dialogFormData.fundImgUrl = fundInfo.fundImgUrl
      this.dialogFormData.fundIntroduce = fundInfo.fundIntroduce
    },
    handleChange () {
      console.log(this.gameTime)
    },
    confirm () {
      if (this.dialogTitle === '添加成分股信息') {
        this.dialogFormVisible = false
        this.tableData.push(this.dialogFormData)
      } else {
        this.dialogFormVisible = false
        this.$set(this.tableData, this.edittingIndex, this.dialogFormData)
      }
    },
    handleAdd () {
      this.fundOptions = this.fundList.filter(item => {
        return this.findIndexByFundNameInArray(item.fundName, this.tableData) === -1
      })
      if (this.curTimes < this.totalTimes) {
        this.dialogTitle = '添加成分股信息'
        var len = this.totalTimes - this.curTimes
        this.timesOption = []
        for (let i=1; i<=len; i++) {
          if (i % 2 === 0) {
            this.timesOption.push(i)
          }
        }
        this.dialogFormData = {
          id: this.fundOptions[0].id,
          fundName: this.fundOptions[0].fundName,
          fundImgUrl: this.fundOptions[0].fundImgUrl,
          fundIntroduce: this.fundOptions[0].fundIntroduce,
          times: 2
        }
        this.dialogFormVisible = true
      } else {
        this.$message.error('牌子数量已达到最大数量，不能添加！')
      }
    },
    handleSave () {
      if (this.curTimes === this.totalTimes) {
        this.confGameInfo()
      } else {
        this.$message.error('牌子总数需达到24个！')
      }
    },
    handleEdit (index, row) {
      var arr = this.tableData.slice()
      arr.splice(index, 1)
      this.fundOptions = this.fundList.filter(item => {
        return this.findIndexByFundNameInArray(item.fundName, arr) === -1
      })
      if (index < this.preLevelTimes) {
        this.isPreFund = true
      } else {
        this.isPreFund = false
      }
      this.edittingIndex = index
      this.dialogTitle = '修改成分股信息'
      var len = this.totalTimes - (this.curTimes - row.times)
      this.timesOption = []
      for (let i=1; i<=len; i++) {
        if (i % 2 === 0) {
          this.timesOption.push(i)
        }
      }
      this.dialogFormData = {
        id: row.id,
        fundName: row.fundName,
        fundImgUrl: row.fundImgUrl,
        fundIntroduce: row.fundIntroduce,
        times: row.times
      }
      this.dialogFormVisible = true
    },
    handleDelete (index, row) {
      this.tableData.splice(index, 1)
    },
    handleAvatarSuccess(res, file) {
      this.dialogFormData.fundImgUrl = res.imgUrl
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      const isLt2M = file.size / 1024 < 500;

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式或 PNG 格式!');
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 500KB!');
      }
      return isJPG && isLt2M;
    },
    findIndexByFundNameInArray (fundName, array) {
      for (let i=0; i<array.length; i++) {
        if (array[i].fundName === fundName) {
          return i
        }
      }
      return -1
    }
  }
}
</script>

<style lang="less">
#game-set-three{

  .container{
    padding: 20px;

    .fund-image{
      vertical-align: top;
      width: 90px;
      height: 90px;
      margin: 20px;
    }

    .add-btn{
      margin-top: 20px;
    }
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
</style>
