<template>
  <div id="img-set-alert">
    <head-top></head-top>
    <section class="container">
      <imgSetItem 
        class="container-item"
        v-for="item in imgArr"
        :key="item.key"
        :title="item.title"
        :imgKey="item.key"
        :imgUrl="item.imgUrl"
        @done="uploadDone"
      />
    </section>
  </div>
</template>

<script>
export default {
  name: 'ImgSetAlert',
  data() {
    return {
      imgArr: [],
      tempArr: [
        {
          title: '弹窗短背景(566*385)',
          key: 'msgboxBgShort'
        },
        {
          title: '弹窗中背景(566*509)',
          key: 'msgboxBgNormal'
        },
        {
          title: '弹窗长背景(566*829)',
          key: 'msgboxBgLong'
        },
        {
          title: '弹窗纸背景(604*505)',
          key: 'msgboxBgPaper'
        },
        {
          title: '按钮背景(381*81)',
          key: 'msgboxBtn'
        },
        {
          title: '弹窗红带(386*102)',
          key: 'msgboxBgRedTie'
        },
        {
          title: '弹窗输入框背景(420*78)',
          key: 'msgboxBgInput'
        },
        {
          title: '成分股介绍文字四倍高背景(453*392)',
          key: 'msgboxBgIntro'
        },
        {
          title: '开始游戏按钮(357*81)',
          key: 'msgboxBtnStart'
        },
        {
          title: '哭脸(166*167)',
          key: 'msgboxImgCryStar'
        },
        {
          title: '滚动牌子背景(454*255)',
          key: 'msgboxImgMarqueeBg'
        },
        {
          title: '三星(434*163)',
          key: 'msgboxImgTriStar'
        },
        {
          title: '关闭icon(53*53)',
          key: 'msgboxBtnClose'
        },
        {
          title: '新纪录标签(65*38)',
          key: 'msgboxImgNew'
        },
        {
          title: '取消按钮(205*81)',
          key: 'msgboxBtnCancel'
        },
        {
          title: '重试按钮(205*81)',
          key: 'msgboxBtnConfirm'
        }
      ]
    }
  },
  created () {
    this.$_api.getCommonConfig()
    .then(data => {
      this.tempArr.forEach(item => {
        this.imgArr.push(Object.assign({imgUrl: data.commonImg[item.key]}, item))
      })
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    uploadDone (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('图片更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('图片更换失败！')
      })
    }
  }
}
</script>

<style lang="less" scoped>
#img-set-alert{

  .container{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &-item{
      margin: 20px;
    }
  }

}
</style>
