<template>
  <div id="img-set-rank">
    <head-top></head-top>
    <section class="container">
      <imgSetItem 
        class="container-item"
        v-for="item in imgArr"
        :key="item.key"
        :title="item.title"
        :imgKey="item.key"
        :imgUrl="item.imgUrl"
        @done="uploadDone"
      />
    </section>
  </div>
</template>

<script>
export default {
  name: 'ImgSetRank',
  data() {
    return {
      imgArr: [],
      tempArr: [
        {
          title: '背景(750*2088)',
          key: 'rankBg'
        },
        {
          title: '标题图片(550*209)',
          key: 'rankImgTitle'
        },
        {
          title: '奖品说明(701*731)',
          key: 'rankBgExplain'
        },
        {
          title: '自己排行背景(694*260)',
          key: 'rankBgSelf'
        },
        {
          title: '排行榜背景(705*868)',
          key: 'rankBgAll'
        },
        {
          title: '金牌(40*53)',
          key: 'rankImgGold'
        },
        {
          title: '银牌(40*53)',
          key: 'rankImgSilver'
        },
        {
          title: '铜牌(40*53)',
          key: 'rankImgCopper'
        }
      ]
    }
  },
  created () {
    this.$_api.getCommonConfig()
    .then(data => {
      this.tempArr.forEach(item => {
        this.imgArr.push(Object.assign({imgUrl: data.commonImg[item.key]}, item))
      })
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    uploadDone (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('图片更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('图片更换失败！')
      })
    }
  }
}
</script>

<style lang="less" scoped>
#img-set-rank{

  .container{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &-item{
      margin: 20px;
    }
  }

}
</style>
