<template>
  <div id="img-set-home">
    <head-top></head-top>
    <section class="container">
      <imgSetItem 
        class="container-item"
        v-for="item in imgArr"
        :key="item.key"
        :title="item.title"
        :imgKey="item.key"
        :imgUrl="item.imgUrl"
        @done="uploadDone"
      />
    </section>
  </div>
</template>

<script>
export default {
  name: 'ImgSetHome',
  data() {
    return {
      imgArr: [],
      tempArr: [
        {
          title: '背景(750*2532)',
          key: 'homeBg'
        },
        {
          title: '活动标题(683*149)',
          key: 'homeImgTitle'
        },
        {
          title: '规则(701*1362)',
          key: 'homeImgRule'
        },
        {
          title: '大礼包(577*369)',
          key: 'homeBtnGift'
        },
        {
          title: '我的奖品按钮(198*67)',
          key: 'homeBtnMyAward'
        },
        {
          title: '查看排行按钮(287*91)',
          key: 'homeBtnRank'
        },
        {
          title: '抽奖入口按钮(287*91)',
          key: 'homeBtnDraw'
        },
        {
          title: '开始游戏按钮(622*92)',
          key: 'homeBtnStart'
        },
        {
          title: '感叹号红点图标(25*25)',
          key: 'homeImgRedPoint'
        }
      ]
    }
  },
  created () {
    this.$_api.getCommonConfig()
    .then(data => {
      this.tempArr.forEach(item => {
        this.imgArr.push(Object.assign({imgUrl: data.commonImg[item.key]}, item))
      })
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    uploadDone (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('图片更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('图片更换失败！')
      })
    }
  }
}
</script>

<style lang="less" scoped>
#img-set-home{

  .container{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &-item{
      margin: 20px;
    }
  }

}
</style>
