<template>
  <div id="img-set-award">
    <head-top></head-top>
    <section class="container">
      <imgSetItem 
        class="container-item"
        v-for="item in imgArr"
        :key="item.key"
        :title="item.title"
        :imgKey="item.key"
        :imgUrl="item.imgUrl"
        @done="uploadDone"
      />
    </section>
  </div>
</template>

<script>
export default {
  name: 'ImgSetAward',
  data() {
    return {
      imgArr: [],
      tempArr: [
        {
          title: '背景(750*2269)',
          key: 'awardBg'
        },
        {
          title: '标题图片(400*126)',
          key: 'awardImgTitle'
        },
        {
          title: '奖品栏背景(717*867)',
          key: 'awardBgStatus'
        },
        {
          title: '填写手机号按钮(462*87)',
          key: 'awardBtn'
        },
        {
          title: '游戏规则(739*1089)',
          key: 'awardImgRule'
        }
      ]
    }
  },
  created () {
    this.$_api.getCommonConfig()
    .then(data => {
      this.tempArr.forEach(item => {
        this.imgArr.push(Object.assign({imgUrl: data.commonImg[item.key]}, item))
      })
    })
    .catch(err => {
      console.log(err)
      this.$message.error('获取配置信息失败！')
    })
  },
  methods: {
    uploadDone (key, url) {      
      this.$_api.updateCommonImg(key, url)
      .then(data => {
        if (data.code === 1) {
          this.$message.success('图片更换成功！')
        } else {
          throw new error()
        }
      })
      .catch(err => {
        console.log(err)
        this.$message.error('图片更换失败！')
      })
    }
  }
}
</script>

<style lang="less" scoped>
#img-set-award{

  .container{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &-item{
      margin: 20px;
    }
  }

}
</style>
