<template>
	<div class="manage_page fillcontain">
		<el-row style="height: 100%;">
	  		<el-col :span="4"  style="min-height: 100%; background-color: #324057;">
				<el-menu :default-active="defaultActive" style="min-height: 100%;" theme="dark" router>
					<el-menu-item index="manage" style="color: #20a0ff;"><i class="el-icon-menu"></i>华宝-牛基翻一翻</el-menu-item>
					<el-submenu index="2">
						<template slot="title"><i class="el-icon-picture"></i>页面图片配置</template>
						<el-menu-item index="imgSetHome">首页</el-menu-item>
						<el-menu-item index="imgSetGame">游戏页</el-menu-item>
						<el-menu-item index="imgSetRank">排行榜页</el-menu-item>
						<el-menu-item index="imgSetAward">我的奖品页</el-menu-item>
						<el-menu-item index="imgSetDraw">抽奖页</el-menu-item>
						<el-menu-item index="imgSetAlert">弹窗</el-menu-item>
					</el-submenu>
					<el-submenu index="3">
						<template slot="title"><i class="el-icon-star-on"></i>奖品配置</template>
						<el-menu-item index="awardSetList">奖品列表</el-menu-item>
						<el-menu-item index="awardSetRank">排行榜</el-menu-item>
						<el-menu-item index="awardSetDraw">周二抽奖</el-menu-item>
					</el-submenu>
					<el-submenu index="4">
						<template slot="title"><i class="el-icon-setting"></i>游戏配置</template>
						<el-menu-item index="gameSetFundList">成分股列表</el-menu-item>
						<el-menu-item index="gameSetOne">第一关</el-menu-item>
						<el-menu-item index="gameSetTwo">第二关</el-menu-item>
						<el-menu-item index="gameSetThree">第三关</el-menu-item>
					</el-submenu>
					<el-submenu index="5">
						<template slot="title"><i class="el-icon-share"></i>链接及banner配置</template>
						<el-menu-item index="checkMore">首页查看更多链接</el-menu-item>
						<el-menu-item index="bannerConfig">banner</el-menu-item>
					</el-submenu>
				</el-menu>
			</el-col>
			<el-col :span="20" style="height: 100%;overflow: auto;">
				<router-view/>
			</el-col>
		</el-row>
  	</div>
</template>

<script>
    export default {
		computed: {
			defaultActive: function(){
				return this.$route.path.replace('/', '');
			}
		},
    }
</script>


<style lang="less" scoped>
	@import '../style/mixin';
	.manage_page{
		
	}
</style>
