<template>
  <div id="app" class="fillcontain">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="less">
@import './style/common';

.fade-enter-active {
  transition: all 1s ease;
}
.fade-leave-active {

  transition: all .1s cubic-bezier(2.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
{
  opacity: 0;
}
</style>

